.hide{ display: none; }
.flex-direction-introduce:hover{ color:red; cursor: pointer; }
#showBox{
    display:flex;
    list-style: none;
    padding:10px;
    border:1px solid red;
    height:400px;
    overflow-y: scroll;
}
.card { margin-left: 15px; }
.select-item { display:flex; align-items:center; padding: 10px; }
.form-control{ width: 300px !important; }
.tag{ font-size : 20px; padding-left: 20px; width: 160px; }
.x{ height:20px;line-height:0!important; margin-left: 20px; }
#showBox li{
    width:100px;
    height:100px;
    /* border:1px solid blue; */
    line-height: 100px;
    text-align: center;
}

button{
    width:100px;
    height:40px;
    border-radius: 10px;
    outline: none;
}

.x{ padding: 2px 10px; }
.x:hover{ cursor: pointer; color: red; border:1px solid #eee; }

#result:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px #ddd;
    /* display:flex; */
    /* flex-direction:row; */
    /* flex-wrap:wrap; */
    /* justify-content:center; */
    /* align-items:center; */
}
#result span{
    padding: 10px; 
    font-size: 20px;
}
